body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: hotpink;
}

/* commen footer styles */

.copyright {
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 10px;
  text-align: center;
}

/* 
skewed-header section */
.skewed-header {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.skewed-header > .header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  background-color: rgb(0, 0, 255);
  color: black;
  border-bottom-left-radius: 2px;
  width: 175px;
  margin-left: 50px;
  margin-top: 54px;
}
.skewed-header > .links-wrapper > .nav-link {
  position: absolute;
  top: 0;
  bottom: 200px;
  right: 0;
  left: 250px;
  width: 150px;
}

.skewed-header > .links-wrapper > .nav-link a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  text-decoration: none;
  color: rgb(240, 14, 127);
  /* transition: .5s; */
}

/* page-container styles */

.page-container {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-left: 350px;
 
   
}

   .midden-container{
    font-family: "Roboto", sans-serif;
    font-family: "Shadows Into Light", cursive;
   
  
   }
   .midden-container h1{
    font-family: "Roboto", sans-serif;
    font-family: "Shadows Into Light", cursive;
   
  
   }




.page-container > .content-wrapper {
  width: 1000px;
}
.page-container > .content-wrapper > #pets {
  width: 200px;
  float: right;
  margin-left: 8px;
  margin-top: 46px;
  border: 3px solid rgb(0, 0, 255);
}
/* Square grid styles */
.squares-wrapper {
  display: flex;
  justify-content: center;
}
.squares-wrapper > .squares {
  width: 600px;
}
.squares-wrapper > .squares > .square {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.square > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.square-text-wrapper {
  padding-top: 50px;
  margin-bottom: 100px;
}
.spacer80 {
  height: 77px;
  width: 100%;
}
