body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* commen footer styles */

.copyright {
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Bebas Neue', cursive;
    color: white ;
    font-size: 10px  ;
    text-align: center;
    
}
/* 
skewed-header section */
.skewed-header{
    position: relative;
    height: 400px;
}

.header-bg{
    height: 400px;
}